<h1 class='jumbotron'>Ted's Battle Bear Emporium</h1>


<% if current_page?('/')%>
<h2>Welcome To A Terrfiying New Age</h2>
<p>When people people first dreamt of war in the far flung future, they probably imagined it being like those of walking tanks of distruction in seen in the fictional BattleTech world, or perhaps more like the mobile suits, from every Mecha Anime in existence.  But instead of that, we got these crazy bear-like machines called Battle Bears.(We blame the Russians)</p>

<h2>Our Mission</h2>
 <p> Here at Ted's Battle Bear Emporium, we run an online marketlpace were people can buy and sell thier ursine machines of destruction.  We are an international outfit, so we are able to get our hands on all various makes and models from across the world!(Whats left of it at least.) Click below to view what we currently have in our inventory!</p>
<br>


<%= link_to "See the Bears", bears_path() %>
<% else %>
<h1> Ted's Battle Bear Listings:</h1>
<h6>*all prices are in USD*</h6>
<% if @bears.any? %>
<% @bears.each do |bear| %>
<div class ='well'>
  <h2> Name: <%= link_to bear.name, bear_path(bear) %> </h2>
  <h3> Country of Origin: <%= bear.country %></h3>
  <h3> Price: $<%= bear.cost %></h3>
</div>
<% end %>
<% else %>
<p> Currently no bears in stock.</p>
<% end %>
<br>
<%= link_to "Main Page", "/" %>
<%= link_to "Add A Bear", new_bear_path %>
<% end %>
