<!DOCTYPE html>
<html>
  <head>
    <title>BattleBears</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-default navbar-fixed-top">
     <%=link_to "Ted's Battle Bear Emporium","/", class: "navbar-brand" %>
     <ul class="navbar navbar-nav">
     <h4><%= flash[:alert] %></h4>
     <h4><%= flash[:notice] %></h4>
     <ul>
    </nav>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
