<!DOCTYPE html>
<html>
  <head>
    <title>BattleBears</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-default navbar-fixed-top">
     <%=link_to "Ted's Battle Bear Emporium","/", class: "navbar-brand" %>
    </nav>
  </head>

  <body>
    <div class="container">
    <%= flash[:alert] %>
    <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
